@page
@using Miscshopify.Infrastructure.Data.Models.Enums;
@using(Html.BeginForm("Register", "Account", FormMethod.Post, new {  
    @class = "form-horizontal", role = "form", enctype = "multipart/form-data"  
})) 
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}
@using(Html.BeginForm("Register", "Account", FormMethod.Post, new {  
    @class = "form-horizontal", role = "form", enctype = "multipart/form-data"  
})) {
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/img/favicon-16x16.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/css/main.css">
	<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100" style="background: url('../../../../img/bg-01.jpg') fixed; background-size: cover;">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<span class="login100-form-title p-b-49">
						Register
					</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate="First name is reauired">
						<label asp-for="Input.FirstName"></label>
						<input asp-for="Input.FirstName" class="input100" autocomplete="First Name" aria-required="true" placeholder="Type your First Name" />
						<span asp-validation-for="Input.FirstName" class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate="Last name is reauired">
						<label asp-for="Input.LastName"></label>
						<input asp-for="Input.LastName" class="input100" autocomplete="Last Name" aria-required="true" placeholder="Type your Last Name" />
						<span asp-validation-for="Input.LastName" class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate="Email is reauired">
						<label asp-for="Input.Email"></label>
						<input asp-for="Input.Email" class="input100" autocomplete="username" aria-required="true" placeholder="Type your Email" />
						<span asp-validation-for="Input.Email" class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate="Password is required">
						<label asp-for="Input.Password"></label>
						<input asp-for="Input.Password" class="input100" autocomplete="new-password" aria-required="true" placeholder="Type your password" />
						<span asp-validation-for="Input.Password" class="focus-input100" data-symbol="&#xf190;"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate="Confirm password is required">
						<label asp-for="Input.ConfirmPassword"></label>
						<input asp-for="Input.ConfirmPassword" class="input100" autocomplete="new-password" aria-required="true" placeholder="Confirm your password" />
						<span asp-validation-for="Input.ConfirmPassword" class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-23" data-validate="City is required">
						<label asp-for="Input.City"></label>
						<input asp-for="Input.City" class="input100" autocomplete="City" aria-required="true" placeholder="City" />
						<span asp-validation-for="Input.City" class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-23" data-validate="Address is required">
						<label asp-for="Input.Address"></label>
						<input asp-for="Input.Address" class="input100" autocomplete="Address" aria-required="true" placeholder="City" />
						<span asp-validation-for="Input.Address" class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-23" data-validate="Postcode is required">
						<label asp-for="Input.PostCode"></label>
						<input asp-for="Input.PostCode" class="input100" autocomplete="Postcode" aria-required="true" placeholder="Postcode" />
						<span asp-validation-for="Input.PostCode" class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-23" data-validate="Phone number is reauired">
						<label asp-for="Input.PhoneNumber"></label>
						<input asp-for="Input.PhoneNumber" class="input100" autocomplete="Phone Number" aria-required="true" placeholder="Type your Phone number" />
						<span asp-validation-for="Input.PhoneNumber" class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-23">
						<label asp-for="Input.ImagePath"></label>
						<input type="file" name="file" />
						<span asp-validation-for="Input.ImagePath" class="focus-input100"></span>
					</div>

					<div class="btn-group" data-validate="Please select your gender">
						<select asp-for="Input.Gender" asp-items="Html.GetEnumSelectList<GenderEnum>()" class="btn btn-info">
							<option selected disabled value="">Please select your gender</option>
						</select>
					</div>

					<div class="text-right p-t-8 p-b-31">
						<a href="./Login">
							Already a member?
						</a>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							@*<button class="login100-form-btn">Register</button>*@
							<button id="registerSubmit" type="submit" class="login100-form-btn">Register</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/vendor/bootstrap/js/popper.js"></script>
	<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="~/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="~/js/main.js"></script>
	<partial name="_ValidationScriptsPartial" />

</body>
</html>

    @*<div class="col-md-6 col-md-offset-2">  
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
	}