@using Miscshopify.Core.Models;
@model IEnumerable<CategoryViewModel>

<head>
    <title>Category</title>
    <link href="~/css/site.css" rel="stylesheet">
</head>

<div class="container">
    <div class="card-deck">
        @foreach (var category in Model)
        {
            <div class="card shadow-sm">
                <div class="card-body">
                    <a href="@Url.Action("GetProductsByCategory", "Product", new { id = category.Id })">
                        <img src="~/@category.ImagePath" class="card-img-top" alt="@category.Name">
                        <h5 class="card-title">@category.Name</h5>
                        <p class="card-text">@category.Description</p>
                    </a>
                    <div class="button-wrapper">
                        <a href="@Url.Action("GetProductsByCategory", "Product", new { id = category.Id })" class="btn btn-primary">View Products</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
