@using Miscshopify.Core.Models;
@model IEnumerable<ProductViewModel>

@{
    var cartMessage = TempData["CartMessage"] as string;
}

<head>
    <title>Products</title>
    <link href="~/css/site.css" rel="stylesheet">
</head>

<div class="container">
    <div class="card-deck">
        @foreach (var product in Model)
        {
            <div class="card-body card mb-3 col-md-3">
                <a href="@Url.Action("ProductDetails", "Product", new { id = product.Id })">
                    <img src="~/@product.ImagePath" class="card-img-top" alt="@product.Name">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Price BGN</p>
                </a>
                <div class="d-flex flex-column flex-sm-row pt-1 center">
                    <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@product.Id" class="btn btn-primary mr-0 mr-sm-2 mb-1 mb-sm-0">
                        <i class="fas fa-shopping-basket mr-2"></i>
                        <span>Add to cart</span>
                    </a>
                </div>
            </div>
        }

        @if (!string.IsNullOrEmpty(cartMessage))
        {
            <div class="alert alert-success" role="alert">
                @cartMessage
            </div>
        }

    </div>
</div>